name : MlOps Pipeline

on:
  push:
   branches: [main]

jobs:

 test-my-code:
   runs-on: ubuntu-latest
   steps:
     - name: Check out code
       uses: actions/checkout@v3


     - name: Set up Python
       uses: actions/setup-python@v4
       with:
         python-version: '3.9'

     - name: Install dependencies
       run:
         pip install -r requirements.txt && pip install pytest httpx

     - name: Run Tests
       run: pytest

 build-and-push:
   needs: test-my-code
   runs-on: ubuntu-latest
   permissions:
     contents: read
     packages: write
   steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Log in to Github container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Build Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/buddhisankalana/house-price-api:latest                 